footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 4rem;
}

footer h3{
    font-size: 1.5rem;
    color: var(--hold-gold);
}

.social-media img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}
.social-media img:hover{
    transform: scale(1.2);
}